

/frameworks/playwright/   @mohamed-elnewehe1_voda @salma-desoky1_voda @ahmed-abouelmagd1_voda
/frameworks/cypress/      
/frameworks/Restassured/  @aya-mamdouh_voda
/common/Locators/         @mohamed-elnewehe1_voda @salma-desoky1_voda @ahmed-abouelmagd1_voda @aya-mamdouh_voda